$yellow: #ffee2e;
$brand-main: #f9804b;
$brand-active: #E47209;
$gray-light: #f1f3f2;
$footer-background: #111115;
$footer-color: #f1f3f2;


$header-background: #000000;
$header-color: #f1f3f2;

$white: #ffffff;