$yellow: #ffee2e;
// $brand-main: #f9804b;
$brand-main: rgb(255, 139, 0);
$brand-active: #E47209;
$brand-selected: #7dbf26;
$gray-light: #f1f3f2;
$footer-background: #111115;
$footer-color: #f1f3f2;


$header-background: #000000;
$header-color: #f1f3f2;

$white: #ffffff;