// Breakpoints
$desktop-width: 1200px;
$small-desktop-width: 1000px;
$tablet-width: 768px;
$mobile-large-width: 414px;
$mobile-small-width: 320px;

$gray-light: #e0e0e0;
$gray-dark: #333;
$brand-main: #5a67d8; // Example primary color
$brand-selected: #48bb78; // Example 'in cart' color
$font-color: #333;
$font-size-main: 1.8rem;
$font-size-price: 2.2rem;


$error-color: #e53e3e;
$input-border-radius: 0.5rem;

