.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  grid-area: header;
  background-color: $header-background;
  color: $header-color
}

.header a {
  color: $header-color
}

.app__heading-tablet,
.app__heading-desktop {
  text-align: center;
}