.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;

}

.cart-header {
  border-bottom: 0.1rem solid $gray-light;
}

.cart-products {
  padding: 0;
  width: 100%;
  list-style-type: none;

  &img {
    width: 5rem;
  }

  ;

  &li {
    display: flex;

    &div {
      padding: 0.5rem;
    }
  }

}

.cart-products li div:last-child {
  flex: 1;
}