.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem solid $gray-light;
}

.cart-products {
  padding: 0;
  width: 100%;
  list-style-type: none;

  &img {
    width: 5rem;
  }

  &li {
    display: flex;

    &div {
      padding: 0.5rem;
    }
  }
}

.cart-products li div:last-child {
  flex: 1;
}

.cart__button-remove {
  background: gainsboro;
  cursor: pointer;
  padding: 0.1rem;
  margin: 0.5rem;

  &:hover {
    border: 2px black solid;
    background-color: darkgray;
  }
}

.removing {
  & img {
    opacity: 0.2;
    transition: opacity 1000ms;
  }
}

.load-hidden {
  visibility: hidden;
}
